body{
    background-color: rgb(253, 227, 209);
    
}
hi{
    font-style: oblique;
}
.friend{
    font-size: larger;
    color: rgb(19, 81, 250);
}
.food{
    margin: auto;
}
.web{
    list-style: decimal;
}