h1{
    color: rgba(236, 24, 34, 0.966);
    text-align: center;
}
h2{
    color: green;
    font-style: italic;
    text-align: center;
}
p {
    font-family: sans-serif;
  }
  ul {
    line-height: 40px;
    list-style:circle;
  }
  ol img{
      border:1px solid rgb(236, 43, 18);
  }
  ol li{
      font-size:larger;
      font-weight: bold;
  }